<launch>

<param name="robot_description"
command="$(find xacro)/xacro $(find ridgeback_description)/urdf/ridgeback.urdf.xacro"/>

<node pkg="joint_state_publisher"
type="joint_state_publisher"
name="joint_state_publisher"/>

<node pkg="robot_state_publisher"
type="robot_state_publisher"
name="robot_state_publisher"/>

<node pkg="mecanum_rviz"
type="fake_mecanum_controller.py"
name="fake_mecanum_controller"
output="screen"/>

<node pkg="rviz"
type="rviz"
name="rviz"
args="-d $(find mecanum_rviz)/rviz/mecanum.rviz"/>

</launch>
